body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
   flex: 1;
}
/* Navbar */

.fa-airbnb{
    font-size: 2rem;
    color: #fe424d;
}

.navbar{
    height: 5rem;
    background-color: white;
    margin-bottom: 1rem;
    
}
.navbar-collapse{
    background-color: white;
}
.nav-link{
    color: black;
}
/* Footer */
.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
  align-content:space-evenly;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.f-info-social{
    width: 100%;
     
}
.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.fa-brands:hover{
  opacity: 1;
    cursor: pointer;
}
.f-info-links{
    width: 100%;

}
.f-info-links a{
    color: #222222;
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
.f-info-data{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-brand{
color: #222222;
font-size: 1.2rem;
}

/*Cards*/
.card-listing{
    border : none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}
.card-body{
    padding: 0.5rem 0 !important;
}

.list-link{
    text-decoration: none;
}
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.2;
  background-color: white;
}

/* New page */
.btn-add{
    border: none !important;
    background-color: #fe424d !important;
}
/*edit page*/
.btn-edit{
    border: none !important;
    background-color: #fe424d !important;
}
/*show page*/
.show-img{
    height: 30vh;
}
 /* Map */
#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
/*marker*/
.custom-marker i {
    font-size: 30px;
    color: #000000;
}
.custom-marker:hover i {
    color: #fe424d;
}
/*Filters*/
#filters{
    display: flex;
    width: 100%;
     flex-wrap:space-evenly;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     margin-top: 1rem;
}
.filter {
    text-align: center;
    width: 80px;
    opacity: 0.7;
    text-decoration: none;
    color: black;
}
.filter a {
    text-decoration: none;
    color: black;
    
}
.filter:hover {
    opacity: 1;
    cursor: pointer;
}
 /* Tax info */
.tax-info{
    display : none;
}
.tax-box{
    border: 3px  solid #131313;
    border-radius: 0.7rem;
    align-items: center;
    display: flex;
   margin-right: 1rem;
   margin-left:0.5 rem;
    align-items: center;
    opacity: 0.7;
    font-size: 0.8rem;

}
.tax-box:hover{
    cursor: pointer;
    opacity:1;

}
.form-check-label{
    margin-left: 0.5rem;
}

/* search Bar */
.search-bar{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: space-evenly;
    border-radius: 5rem;
    background-color:transparent;
    height: 3rem;
    width: max-content;
    padding: 0.5rem;    
   box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-press button {
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 0.5rem;
    height: max-content;
    border-radius: 1rem;
    color: black;   
    z-index: 2;
}
.search-press :hover{
    color: rgb(195, 41, 41);
    cursor: pointer;
}
.search-symbol{
    background-color: #fe424d;
    font-size: 1rem;
    color: white;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
